*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    background:linear-gradient(red, orange);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.outer>.inner{
    background-color: whitesmoke;
    height: 400px;
    width: 400px;
   
    
}

.row{
    display: flex;
}


.b{
    height: 50px;
    width: 50px;
    background-color: black;
}

.w{
    height: 50px;
    width: 50px;
    background-color: white;
}

