*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color:whitesmoke;
    display: flex;
}

.outer>.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background-color: white;
   
}
.outer>.left>img{
    height: 50%;
    width: 50%;
}

.outer>.right{
    flex-basis: 50%;
    background-color: black;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    

}
.outer>.right>h1{

    margin: 100px 300px;
    color:white;

}

.outer>.right>form{

    margin-top: 90px;
    margin-left: 150px;
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
    border-radius: 40px; 
    
}

.outer>.right>form>input{
    margin: auto;
    padding: 10px;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid black;

}

.outer>.right>form>label{
  
}

.outer>.right>form>button{
    font-weight: bold;
    letter-spacing: 1.5px;
    border: none;
    height: 45px;
    width: 350px;
    margin: auto ;
    background-color: green;
    color: black;
    border-radius: 10px;
}

.outer>.right>form>button:hover{
    background-color: rgb(82, 77, 77);
    color: black;
}


.outer>.right>form>label{
    margin-left: 60px;
    margin-top: auto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.outer>.right>.footer{
    /* margin-left: 150px; */

    display: flex;
    justify-content: space-evenly;
    /* gap: 190px; */
}
