*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background: linear-gradient( red, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main>.circle{
    height: 80px;
    width: 80px;
    /* border: 2px solid black; */
    border-radius: 50%;
    animation: up-down 1s ease-in infinite alternate;

}

main>#c1{
    background-color: blue;
    animation-delay: 1.1s;
}

main>#c2{
    background-color: red;
    animation-delay: 1.2s;
}

main>#c3{
    background-color: yellow;
    animation-delay: 1.3s;
}

main>#c4{
    background-color: green;
    animation-delay: 1.4s;
}

main>#c5{
    background-color: white;
    animation-delay: 1.5s;
    
}

@keyframes up-down{

    from{
        transform: translatey(-100px);
    }
    to{
transform: translatey(100px);
    }
} 
    
