*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background: linear-gradient(skyblue, white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.middle{

    height: 80%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.389);
    box-shadow: 0px 4px 15px black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle>.inner{

    height: 80%;
    width: 90%;
    background-color: rgba(255, 0, 0, 0.142);
    border-radius: 10px;
    box-shadow: 0px 4px 15px black;
    position: relative;
}

.inner>#box1{
    height: 90px;
    width: 90px;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;

    /* POSITION */
    /* position: relative;
    right: 30px;
    top: 10px; */

    /* position: absolute;
    right: 15px; */

    position: absolute;
    bottom: 0;
    right: 0;
}

.inner>#box2{
    height: 90px;
    width: 90px;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}

.inner>#box3{
  height: 90px;
    width: 90px;
    background-color:orange;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    
}

.inner>#box4{
    height: 90px;
    width: 90px;
    background-color: palegoldenrod;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    right: 0px;
}

.inner>#box5{
    height: 90px;
    width: 90px;
    background-color: lightyellow;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% );
    
}



