*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 14px black;
    border-radius: 15px;
    position: absolute;
    
}

.inner>.box>img{

    height: 200px;
    width: 200px;
    border-radius: 50%; 
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -100px;
}




